<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="politictalk.dsm">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA6_O-AAtJl19ZqVl7MByQceAtkkSBR23E" />

        <activity android:name=".Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.SignUpActivity" />
        <activity android:name=".Report.ReportActivity" />
        <activity android:name=".Report.FactionActivity" />
        <activity android:name=".Report.SearchActivity" />
        <activity android:name=".Report.WriteReportActivity" />
        <activity android:name=".Report.ViewReportActivity" />
        <activity android:name=".Meeting.MeetingMainActivity" />
        <activity android:name=".Meeting.MeetingApplicationActivity" />
        <activity android:name=".Meeting.MeetingChoiceActivity" />
        <activity android:name=".Meeting.WriteMeetingActivity" />
        <activity android:name=".Meeting.ViewMeetingActivity" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>